In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\harip\Instacart Basket Analysis"

In [3]:
# Import orders_products_merged
ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_merged_1.pkl'))

In [4]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,Busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,NaN,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,NaN,Mid-range product,Least busy,Least busy days,Average orders

In [5]:
# Finding the aggregated mean for entire data frame.
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [6]:
# Creating a subset to cross verify
df = ords_prods_merge[:1000000]

In [7]:
df.shape

(1000000, 19)

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

Answer: The mean from the subset is considerably higher than the entire dataframe.

In [9]:
# Creating a Loyalty flag for the customers using transform
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

# Creating a loyalty flag using loc()

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
ords_prods_merge['loyalty_flag'].value_counts(dropna= False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [14]:
ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,...,add_to_cart_order,reordered,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,NaN,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,3,New customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,7,0,both,NaN,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,2,0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,1,0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,12,Regular customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,1,0,both,NaN,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,2,1,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,1,0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,1,0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,43,Loyal customer
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,3,1,both,NaN,Mid-range product,Least busy,Least busy days,Most orders,43,Loyal customer
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,4,1,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,43,Loyal customer
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,8,0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,13,Regular customer
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,18,1,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,13,Regular customer
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,12,1,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,13,Regular customer
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,10,0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Fewest orders,28,Regular customer
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,...,9,1,both,NaN,Mid-range product,Regularly busy,Busiest days,Average orders,28,Regular customer
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,...,9,1,both,NaN,Mid-range product,Regularly busy,Busiest days,Fewest orders,28,Regular customer

#  Trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [15]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.772831  1.0  25.0
New customer      7.800320  1.0  25.0
Regular customer  7.797431  1.0  25.0

In [16]:
#Running descriptive statistics
ords_prods_merge['prices'].describe()

count    3.240486e+07
mean     7.790180e+00
std      4.242125e+00
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      2.500000e+01
Name: prices, dtype: float64

From seeing the descriptive statistics above its interesting to the average prices of new customers are higher when compared to the loyal customer.
The minimum and maximum remained same for all the three categories.

In [17]:
#Creating a spending flag
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

In [18]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,...,reordered,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,average_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,20.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,20.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,both,NaN,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,18.5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,14.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,3,New customer,14.0

# Creating a spending flag

In [19]:
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [20]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [21]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,...,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,20.0,High spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,20.0,High spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,NaN,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,18.5,High spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,14.0,High spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,3,New customer,14.0,High spender

In [22]:
#Checking for frequency
ords_prods_merge['spending_flag'].value_counts(dropna = False)

High spender    32372961
Low spender        31898
Name: spending_flag, dtype: int64

# Determining Frequent vs Non frequent customers

In [23]:
#Creating a median flag using transform
ords_prods_merge['median_days_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

In [24]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,...,price_range_loc,price_range_loc,busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_prior_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,20.0,High spender,30.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,20.0,High spender,30.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,NaN,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,18.5,High spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,14.0,High spender,13.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,NaN,Mid-range product,Least busy,Least busy days,Average orders,3,New customer,14.0,High spender,13.0

# Creating a frequency flag

In [25]:
ords_prods_merge.loc[ords_prods_merge['median_days_prior_order'] > 20, 'frequency_flag'] = 'Non frequent customer'

In [26]:
ords_prods_merge.loc[(ords_prods_merge['median_days_prior_order'] <= 20)& (ords_prods_merge['median_days_prior_order'] > 10),'frequency_flag'] = 'Regular customer'

In [27]:
ords_prods_merge.loc[ords_prods_merge['median_days_prior_order'] <=10, 'frequency_flag'] = 'frequent customer'

In [28]:
ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,...,price_range_loc,busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_prior_order,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,20.0,High spender,30.0,Non frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,20.0,High spender,30.0,Non frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,18.5,High spender,8.0,frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,14.0,High spender,13.0,Regular customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Least busy days,Average orders,3,New customer,14.0,High spender,13.0,Regular customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer,14.0,High spender,30.0,Non frequent customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,10.3,High spender,30.0,Non frequent customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,Mid-range product,Regularly busy,Least busy days,Most orders,12,Regular customer,13.6,High spender,30.0,Non frequent customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer,13.9,High spender,25.0,Non frequent customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer,13.9,High spender,25.0,Non frequent customer
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer,13.8,High spender,24.0,Non frequent customer
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,Mid-range product,Regularly busy,Least busy days,Most orders,43,Loyal customer,13.9,High spender,21.0,Non frequent customer
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,Mid-range product,Least busy,Least busy days,Most orders,43,Loyal customer,13.9,High spender,21.0,Non frequent customer
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,Mid-range product,Regularly busy,Regularly busy,Most orders,43,Loyal customer,13.9,High spender,21.0,Non frequent customer
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,Mid-range product,Regularly busy,Least busy days,Most orders,13,Regular customer,14.8,High spender,30.0,Non frequent customer
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,Mid-range product,Regularly busy,Regularly busy,Average orders,13,Regular customer,14.8,High spender,30.0,Non frequent customer
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,Mid-range product,Regularly busy,Regularly busy,Average orders,13,Regular customer,14.8,High spender,30.0,Non frequent customer
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,Mid-range product,Regularly busy,Regularly busy,Fewest orders,28,Regular customer,14.1,High spender,28.0,Non frequent customer
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,...,Mid-range product,Regularly busy,Busiest days,Average orders,28,Regular customer,14.1,High spender,28.0,Non frequent customer
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,...,Mid-range product,Regularly busy,Busiest days,Fewest orders,28,Regular customer,14.1,High spender,28.0,Non frequent customer

In [29]:
#Checking for value points
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Non frequent customer    24487186
Regular customer          6533511
frequent customer         1384157
NaN                             5
Name: frequency_flag, dtype: int64

In [30]:
#Checking for NaN
ords_prods_merge[ords_prods_merge['frequency_flag'].isnull()][['user_id', 'days_since_prior_order', 'median_days_prior_order', 'frequency_flag']]

,user_id,days_since_prior_order,median_days_prior_order,frequency_flag
6234909,159838,NaN,NaN,NaN
12947653,159838,NaN,NaN,NaN
13839012,159838,NaN,NaN,NaN
14758536,159838,NaN,NaN,NaN
21673807,159838,NaN,NaN,NaN

In [31]:
ords_prods_merge[ords_prods_merge['user_id'] == 159838]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,...,price_range_loc,busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_prior_order,frequency_flag
6234909,10749,Organic Red Bell Pepper,83,4,5.7,895835,159838,1,0,17,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High spender,NaN,NaN
12947653,21334,Organic Peeled Garlic,123,4,10.2,895835,159838,1,0,17,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High spender,NaN,NaN
13839012,22198,4X Ultra Concentrated Natural Laundry Detergen...,75,17,1.7,895835,159838,1,0,17,...,Low-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High spender,NaN,NaN
14758536,23695,California Veggie Burger,42,1,4.7,895835,159838,1,0,17,...,Low-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High spender,NaN,NaN
21673807,33401,Goat Cheese Crumbles,21,16,14.8,895835,159838,1,0,17,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High spender,NaN,NaN

This 5 null values(NaN) because the customer with customer_id = 159838 is a new customer. So, I decide to leave that value as NaN itself.

In [32]:
#Exporting data
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))